<header>
  <h1>Mystery Word</h1>
  <p>You have {{remaining}} guesses left</p>
</header>
<main>
  <section id="wordField">
    {{#word}}
      <div class="letter">
        {{#.}}
          {{placeholder}}
        {{/.}}
      </div>
    {{/word}}
  </section>
  <section>
    <form action="/guess" method="post">
      <input type="text" name="guess" placeholder="Guess a letter" maxlength="1" autofocus>
      <button type="submit">Guess</button>
    </form>
    <p class="guessed"><span class="bold">Letters guessed:</span>
      {{#guesses}}
        {{.}}
      {{/guesses}}
    </p>
    {{#error}}
      <p class="error">
        {{.}}<br>
      </p>
    {{/error}}
  </section>
</main>
