@import url('https://fonts.googleapis.com/css?family=Handlee|Open+Sans:400,600');
body * {
  font-family: 'Open Sans', Helvetica, sans-serif;
}
header {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0 20px;
}
main {
  width: 100%;
}
.bold {
  font-weight: bold;
}
#wordField {
  display: flex;
  flex-direction: row nowrap;
  justify-content: center;
  margin: 0;
  padding: 20px 0;
  width: 100%;
}
#gameControls {
  margin: 0 auto;
  max-width: 720px;
  width: 100%;
}
.letter {
  flex: 0 7%;
  font-family: 'Handlee';
  font-size: 4em;
  padding: 10px 0;
  text-align: center;
}
form, .gameOver {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 0 30px;
}
form button, form input, h2, .playAgain {
  border: 1px solid darkgray;
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  padding: 10px;
}
form input, h2 {
  border-right: none;
  flex: 1 50%;
  padding: 10px;
}
form button, .playAgain {
  background: linear-gradient(#f9f9f9, lightgray);
  color: #666;
  flex: 0 20%;
  padding: 10px 20px;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.guessed {
  font-size: 1em;
  padding: 0 10px;
}
.error {
  background: pink;
  border: 1px solid red;
  margin: 10px 0;
  padding: 10px;
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
  }
  #wordField {
    flex-flow: row wrap;
  }
  .letter {
    font-size: 3em;
  }
}
/*@media (max-width: 320px) {
  .letter {
    font-size: 2em;
  }
}*/
